.allUsersBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 0;
  }
  
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
  }
  
  .styled-table th,
  .styled-table td {
      padding: 18px 0 18px 30px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
  }
  
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  